

#demo {
    text-align: center;
    color: white;
    color: #72898E;
    font-family: Merienda;
    font-size: 100px;
}

.col-xs-4 {
    margin: 10px;
}



button.btn.btn-info {
    background-color: steelblue;
}
 
.next {
    background:;
}

.prev {
    
}
li {
    float: none;
    display: inline-block;
}


/*******/


